@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.register-heading {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
    letter-spacing: 3px;
    opacity: .9;
}

.login-btn {
    color: black;
}

.login-btn:hover {
    color: blue;
    font-weight: 500;
}

.text-center {
    margin-bottom: 20px;
}